x-log-config: &log-config
  logging:
    driver: json-file
    options:
      max-size: "50m"
      max-file: "5"
volumes:
  lws:
  lwsadmin:
  postgres:
  wallet:
networks:
  tor_net:
    external: true
    name: docker-monero-node_tor_net
services:
  db:
    image: postgres:13
    container_name: monero-lws-db
    ports:
      - 127.0.0.1:5432:5432
    volumes:
      - postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_PASSWORD: ${DB_PASS:-lwsadmin}
      POSTGRES_USER: ${DB_USER:-lwsadmin}
      POSTGRES_DB: ${DB_NAME:-lwsadmin}
    <<: *log-config
  cache:
    image: redis:latest
    container_name: monero-lws-cache
    ports:
      - 127.0.0.1:6379:6379
    <<: *log-config
  wallet:
    build:
      context: wallet
    network_mode: host
    container_name: monero-lws-wallet
    restart: always
    ports:
      - 127.0.0.1:${WALLET_RPC_PORT:-8000}:${WALLET_RPC_PORT:-8000}
    volumes:
      - wallet:/data
    command:
      bash /run_wallet.sh "rpcuser:rpcpass" "http://127.0.0.1:18081"
  # lwsadmin:
  #   container_name: lwsadmin
  #   build:
  #     context: lwsadmin
  #     dockerfile: Dockerfile
  #   # image: lalanza808/lwsadmin:latest
  #   restart: unless-stopped
  #   depends_on:
  #     - monero-lws
  #   environment:
  #       LWS_URL: http://monero-lws:8080
  #       LWS_ADMIN_URL: http://monero-lws:8081
  #       QUART_ENV: production
  #       HOST: 0.0.0.0
  #       DEBUG: 0
  #       SERVER_NAME: ${SERVER_NAME:-127.0.0.1:5000}
  #       SECRET_KEY: ${SECRET_KEY:-thisisasecret}
  #   volumes:
  #     - lwsadmin:/srv/lwsadmin/data
  #   user: "1000:1000"
  #   command:
  #     ./.venv/bin/poetry run start
  #   ports:
  #     - 127.0.0.1:5000:5000
  #   networks:
  #     - tor_net
  #   <<: *log-config
  monero-lws:
    container_name: monero-lws
    build:
      context: lws
    restart: unless-stopped
    network_mode: host
    volumes:
      - lws:/home/monero-lws/.bitmonero/light_wallet_server
    command:
      monero-lws-daemon --scan-threads ${SCAN_THREADS:-4} --rest-threads ${REST_THREADS:-2} --rest-server http://127.0.0.1:8080 --admin-rest-server http://127.0.0.1:8081 --log-level 1 --daemon=tcp://127.0.0.1:18082 --sub=tcp://127.0.0.1:18083 --confirm-external-bind --access-control-origin "*" --max-subaddresses ${MAX_SUBADDRESS:-200}
    <<: *log-config
  # monerod:
  #   container_name: monerod
  #   image: lalanza808/monerod:latest
  #   restart: unless-stopped
  #   volumes:
  #     - ~/.bitmonero:/srv/monerod
  #   ports:
  #     - 127.0.0.1:18081:18081
  #   command:
  #     monerod --data-dir /srv/monerod/ --p2p-bind-ip=0.0.0.0 --p2p-bind-port=18080 --rpc-bind-ip=0.0.0.0 --rpc-bind-port=18081 --zmq-rpc-bind-ip=0.0.0.0 --zmq-rpc-bind-port=18082 --zmq-pub tcp://0.0.0.0:18083 --rpc-restricted-bind-ip=0.0.0.0 --rpc-restricted-bind-port=18089 --non-interactive --confirm-external-bind
  #   <<: *log-config
