x-log-config: &log-config
  logging:
    driver: json-file
    options:
      max-size: "50m"
      max-file: "5"
volumes:
  monerolws:
  lwsadmin:
  lwstor:
services:
  lwsadmin:
    container_name: lwsadmin
    build:
      context: lwsadmin
      dockerfile: Dockerfile
    restart: unless-stopped
    depends_on:
      - tor
      - monero-lws
    environment:
      LWS_URL: http://127.0.0.1:8080
      LWS_ADMIN_URL: http://127.0.0.1:8081
      QUART_ENV: production
      HOST: 0.0.0.0
      DEBUG: 0
      SERVER_NAME: ${SERVER_NAME:-127.0.0.1:5000}
      SECRET_KEY: ${SECRET_KEY:-thisisasecret}
    volumes:
      - lwsadmin:/srv/lwsadmin/data
      - lwstor:/var/lib/tor:ro
    network_mode: host
    <<: *log-config
  monero-lws:
    container_name: monero-lws
    build:
      context: lws
    restart: unless-stopped
    network_mode: host
    volumes:
      - monerolws:/home/monero-lws/.bitmonero/light_wallet_server
    command:
      monero-lws-daemon --scan-threads ${SCAN_THREADS:-4} --rest-threads ${REST_THREADS:-2} --rest-server http://127.0.0.1:8080 --admin-rest-server http://127.0.0.1:8081 --log-level 1 --daemon=tcp://127.0.0.1:18082 --sub=tcp://127.0.0.1:18083 --access-control-origin "*" --max-subaddresses ${MAX_SUBADDRESS:-200}
    <<: *log-config
  tor:
    container_name: lwstor
    build:
      context: .
      dockerfile: dockerfiles/Dockerfile-tor
    restart: unless-stopped
    volumes:
      - lwstor:/var/lib/tor/
    network_mode: host
    <<: *log-config
