SECRET_KEY=xxxxxxxxxxxx
DEBUG=0
QUART_ENV=production
DOMAIN=lws.yourvps.com
LWSPATH=/lws
SCAN_THREADS=24
REST_THREADS=2
REST_PORT=8080
ADMIN_PORT=8081
MAX_SUBADDRESS=500
WALLET_RPC_USERNAME=rpcuser
WALLET_RPC_PASSWORD=rpcpass
WALLET_RPC_PORT=8000
DAEMON_ADDRESS=http://127.0.0.1:18081
RESTORE_HEIGHT=3589389
MNEMONIC_SEED=all the words here
WALLET_PASSWORD=adasasdasdas