{% extends 'base.html' %}

{% block content %}



<section class="box">
    <h2>Payment Info</h2>
    <p>
        To fund light wallet scanning for this account, send any amount of Monero to the address below.
        The current price per block scanned is {{ config.PRICE_PICOS_PER_BLOCK }} piconeros per block ({{ config.PRICE_PICOS_PER_BLOCK | atomic }} XMR).
        To fund wallet scanning for 90 days (~{{ 720 * 90 }} blocks) it would cost ~{{ config.PRICE_PICOS_PER_BLOCK * 720 * 90 | atomic }} XMR.
    </p>
    <div id="qrcode"><img src="data:image/png;base64,{{ qrcode }}" width="200px"/></div>
    <table id="deposit-table">
        <tr>
            <th>Deposit Address</th>
        </tr>
        <tr>
            <td><span class="address">{{ account.payment_address }}</span></td>
        </tr>
    </table>
</section>

<section class="box">
    <div>
        <h2>Account Stats</h2>
        <div class="row">
            <div class="col">
                <h4>Starting Height</h4>
                <p>{{ account.start_height }}</p>
            </div>
            <div class="col">
                <h4>Network Height</h4>
                <p>
                    <span id="network-height">?</span>
                    <span id="height-diff" style="font-size:.8em"></span>
                </p>
            </div>
            <div class="col">
                <h4>XMR Sent</h4>
                <p>
                    <span id="xmr-sent">0</span> XMR
                    <span id="txes-count"></span>
                </p>
            </div>
            <div class="col">
                <h4>Max Height</h4>
                <p>
                    <span id="max-height">?</span>
                </p>
            </div>
        </div>
    </div>
    <div id="gauge">
        <svg width="300" height="300" viewBox="0 0 400 400">
            <circle class="track" cx="200" cy="200" r="180"></circle>
            <circle class="progress-bar" id="progress-circle" cx="200" cy="200" r="180"></circle>
            <circle class="pulse-ring" cx="200" cy="200" r="50"></circle>
        </svg>
        <div class="labels">
            <p class="label-sub">Blocks Remaining</p>
            <h1 class="block-count" id="remaining-text">?</h1>
        </div>
    </div>
    <div id="transactions"></div>
</section>


<!-- 
# the current height is {height}
# this account started at height {account.start_height}
# {height - account.start_height} blocks have been mined since this account came online
# {total_sent} atomic xmr has been sent and is thus entitled to scan for {total_blocks_to_scan} total blocks
# the last block available for scanning will be {max_height}
# the scanning will continue for {remaining_blocks} more blocks
-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
<script>
    function from_atomic(picos) {
        return Number(BigInt(picos)) / Number(BigInt(1e12));
    }

    function setVal(elId, val) {
        document.getElementById(elId).innerText = val;
    }

    function shorten(s) {
        return s.slice(0, 6) + '...' + s.slice(-6);
    }

    function updateTransactionsTable(txes) {
        const all_txes = txes.pending.concat(txes.completed)
        if (all_txes.length == 0) return
        const rows = [];
        for (const idx in all_txes) {
            const tx = all_txes[idx];
            let confirmations;
            let color;
            if (tx.confirmations >= 10) {
                color = 'success';
            } else {
                color = 'warning';
            }
            if (! tx.confirmations) {
                confirmations = 'pending';
                color = 'danger';
            } else {
                confirmations = tx.confirmations;
            }
            const row = `<tr class="alert alert-${color}">
                <td><a href="https://xmrchain.net/tx/${tx.txid}" target="_blank">${shorten(tx.txid)}<a/></td>
                <td>${from_atomic(tx.amount)} XMR</td>
                <td>${confirmations}</td>
            </tr>`;
            rows.push(row);
        }
        const table = `
            <h2>Transactions</h2>
            <table>
                <thead>
                    <tr>
                        <th>TX Hash</th>
                        <th>Amount</th>
                        <th>Confirmations</th>
                    </tr>
                </thead>
                <tbody>
                    ${rows.join('')}
                </tbody>
            </table>`;
        document.getElementById('transactions').innerHTML = table;
    }

    function updateAnime(target, value) {
        anime({
            targets: target,
            innerText: [value],
            round: 1,
            duration: 2000,
            easing: 'easeOutQuart'
        });
    }

    async function updateDashboard() {
        try {
            // fetch stats
            const res = await fetch("/api/account/{{ account.address }}/{{ account.view_key }}");
            const data = await res.json();

            // update values
            updateAnime('#network-height', data.current_height);
            updateAnime('#max-height', data.max_height);
            updateAnime('#height-diff', `(${data.start_height - data.current_height} blocks)`)
            setVal('xmr-sent', from_atomic(data.total_xmr_sent));

            // show transactions
            updateTransactionsTable(data.transactions);

            // update gauge
            const progressRatio = Math.min(Math.max(data.remaining_blocks / data.total_blocks_to_scan, 0), 1);
            const remainingBlocksEl = document.getElementById('remaining-text');
            const progressCircleEl = document.getElementById('progress-circle');
            const circleLength = progressCircleEl.getTotalLength();
            const offset = circleLength - (progressRatio * circleLength);
            let remainingBlocks = data.remaining_blocks;
            anime({
                targets: progressCircleEl,
                strokeDashArray: circleLength,
                strokeDashoffset: [offset],
                duration: 2000,
                easing: 'easeOutQuart'
            });
            if (remainingBlocksEl.innerText != data.remaining_blocks) {
                anime({
                    targets: remainingBlocksEl,
                    innerText: [remainingBlocksEl.innerText, data.remaining_blocks],
                    round: 1,
                    duration: 2000,
                    easing: 'easeOutQuart'
                });
            }
        } catch(err) {
            console.log(err)
        }
    }

    // heartbeat animation
    anime({
        targets: '.pulse-ring',
        r: [20, 200],
        opacity: [.75, 0],
        duration: 3000,
        easing: 'easeOutExpo',
        loop: true
    });

    // run once
    updateDashboard();

    // run interval
    setInterval(updateDashboard, 10 * 1_000);
</script>
<style>
    :root {
        --accent-color: #0a0e14;
        --secondary-color: #ff6600; /* Monero Orange */
        --text-color: #e0e0e0;
        --bar-width: 14;
        --track-width: 4;
        --pulse-width: 6;
    }

    .alert-success {
        background-color: #c3ffca;
    }

    table {
        text-align: left;
	    border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid;
        padding: 4px;
    }

    tr > th {
        background-color: rgba(80, 80, 80, 0.35);
    }

    /* th, caption {
        text-align: start;
    }

    thead th:not(:first-child), td {
        text-align: end;
    } */

    .address {
        user-select: all;
        word-wrap: anywhere;
        background-color: rgba(255, 102, 0, .35);
        cursor: copy;
    }

    #qrcode {
        text-align: center;
    }

    #deposit-table {
        margin: 0 auto;
    }

    #gauge {
        position: relative;
        width: 400px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    svg {
        position: absolute;
        transform: rotate(-90deg);
    }

    .track {
        fill: none;
        stroke: #1a2634;
        stroke-width: var(--track-width);
    }

    .progress-bar {
        fill: none;
        stroke: var(--secondary-color);
        stroke-width: var(--bar-width);
        stroke-linecap: round;
        stroke-dasharray: 1131; 
        stroke-dashoffset: 1131;
    }

    .pulse-ring {
        fill: none;
        stroke: var(--accent-color);
        stroke-width: var(--pulse-width);
        opacity: 0;
    }

    .labels {
        position: absolute;
        text-align: center;
        z-index: 10;
    }

    .block-count {
        font-size: 3.5rem;
        font-weight: bold;
        margin: 0;
    }
</style>

{% endblock %}