{% extends 'includes/base.html' %}

{% block content %}

<h1>Monero Light-Wallet Server</h1>
<p>
  Welcome! This is your very own private Monero light-wallet service. 
  Run this on your home computer or a virtual private server that you trust and get remote access to a Monero hot wallet with zero syncing for instant access to your funds from anywhere in the world.</p>
<div>
  <h2>Connecting</h2>
  <p>To get started, download the <a href="https://skylight.magicgrants.org/" target="_blank">Skylight wallet</a> for mobile or desktop (or both).
  <p>If you want to connect directly to the service use the following URL: <strong>{{ config.LWS_URL }}</strong></p>
  {% if tor_url %}
  <p>If you would like to connect over Tor use the following URL or copy it from the below QR Code: <strong>{{ tor_url }}</strong></p>
  <img src="data:image/png;base64,{{ qrcode }}" width="120px" />
  {% endif %}
  <p>Enter the URL in the wallet and either setup a new wallet or restore an existing one. If you create the wallet in Skylight it will automatically show in the list below, just click refresh and click <strong>Accept</strong>. Set a helpful label for future reference.</p>
  <p>You can also generate a fresh wallet using the buttons below and import that into Skylight.</p>
</div>

<div>
  <h2>Accounts</h2>
  <p>
    The below Monero accounts are either requests to begin syncing or actively syncing in LWS.
    If you setup your light wallet first then the account will show here to accept.
    You can adjust labels and rescan when accounts are available.
  </p>
  <div hx-get="/htmx/show_wallets" hx-target="#show_wallets" class="button outline" hx-indicator="#refresh_loader" onclick="handleRefresh()">
    Refresh
    <i class="fa-solid fa-rotate-right indicator" id="refresh_loader"></i>
  </div>
  <div hx-trigger="load" hx-get="/htmx/show_wallets" id="show_wallets" onload=""></div>
</div>

<hr>

<div>
  <h2>LWS Admin</h2>
  <p>You can create a new wallet here to import on your device or import it here. </p>
  <a hx-get="/htmx/import_wallet" hx-target="#walletForm" class="button primary outline">Import Existing Wallet</a>
  <a hx-get="/htmx/create_wallet" hx-target="#walletForm" class="button primary">Create New Wallet</a>
  <p id="walletForm" style="margin: 2em 0 2em 0"></p>
</div>

<script>
  function handleRefresh() {
    const show_wallets = document.getElementById('show_wallets'); 
    const loader = document.getElementById('refresh_loader');
    loader.classList.add('fa-spin');
    show_wallets.classList.add('showFade');
    setTimeout(function() {
      show_wallets.classList.remove('showFade');
      loader.classList.remove('fa-spin');
    }, 2000)
  }
</script>

{% endblock %}
